.contact {
  background-color: #f7f6f2;
}
.contact .container {
  padding: 5rem 0;
}
.contact-info {
  gap: 30px;
  margin-bottom: 5rem;
}
.info {
  padding: 24px;
  background-color: white;
  width: 25%;
}
.info p {
  color: gray;
}
.info a {
  color: black;
  font-weight: 300;
}
.contact-customer {
  gap: 30px;
}
.contact-customer img {
  width: 39vw;
  height: 584px;
  object-fit: cover;
}
.customer {
  background-color: white;
  width: 100%;
}
.contact-form {
  padding: 48px;
  color: #808080;
  height: 100%;
}
.form-group {
  padding: 6px 12px;
  width: 100%;
}
.form-control {
  width: 100%;
  height: 52px;
  border: 1px solid #ced4da;
  padding: 6px 12px;
}
.form-group textarea {
  height: 200px;
}
