:root {
  --green: #82ae46;
}
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
}
body {
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  color: #000000;
}
a {
  text-decoration: none;
}
.header-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  z-index: 5;
}
.main {
  margin-top: 65px;
}
.container {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.d-flex {
  display: flex;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.flex-justify {
  justify-items: center;
  justify-content: center;
  text-align: center;
}
.header {
  justify-content: space-between;
  font-size: 15px;
  height: 65px;
  align-items: center;
}
.header-branch {
  color: var(--green);
  font-weight: 800;
  font-size: 20px;
}
li {
  list-style-type: none;
  color: #000000;
}
.header-nav .nav-active,
.nav li > a:hover {
  color: #82ae46;
}

.header-nav li a {
  font-size: 14px;
  padding: 16px 20px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 2px;
}
/* .account {
  background-color: #565555;
  margin-right: 2px;
  border-radius: 5px;
} */
.login:hover .login-box {
  visibility: inherit;
  overflow: hidden;
}
.login {
  position: relative;
}
.login-box li {
  padding: 14px 10px;
  border-bottom: 1px solid var(--green);
  width: 180px;
  cursor: pointer;
}
.login-box li:hover {
  background-color: #f7f6f2;
}
.login-box li a {
  font-size: 12px;
}
.login-box {
  position: absolute;
  visibility: hidden;
  top: 45px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid var(--green);
  right: 0;
  transition: all 0.5s ease;
}
/* .cart {
  background-color: var(--green);
  color: white;
  border-radius: 5px;
}
.cart i {
  color: whitesmoke;
} */
.hero-banner {
  background-image: url(./Asset/banner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hero-banner-about {
  background-image: url(./Asset/about.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 350px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
}
.hero-banner .overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.hero-banner .hero-content,
.hero-banner-about .hero-content {
  z-index: 2;
  text-align: center;
}
.hero-banner h1 {
  font-size: 8vw;
  color: #fff;
  line-height: 1.3;
  font-weight: 400;
  font-family: "Amatic SC", cursive;
}
.hero-banner h2 {
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #fff;
  margin: 24px;
}
.hero-banner-about .hero-about-h2 {
  font-size: 12px;
  letter-spacing: 3px;
  margin-bottom: 5px;
  z-index: 99;
  font-weight: 300;
  color: #fff;
}
.hero-banner-about .hero-about-h1 {
  font-weight: 800;
  color: #fff;
  font-size: 30px;
  letter-spacing: 3px;
}
/* BOUT */
.about {
  background-color: #f7f6f2;
  max-height: 100%;
  margin-bottom: 6rem;
}
.about-img img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.about-img {
  margin: auto;
}

.about-text {
  width: 100%;
  margin: auto;
  padding: 48px 15px 48px 45px;
  color: gray;
  font-size: 15px;
}
.about-text-h2 {
  font-size: 40px;
  font-weight: 600;
  margin: 0 0 24px;
  color: #000000;
}
.about-text p {
  margin-bottom: 16px;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 30px;
  transition: 0.2s;
}
.btn-green {
  background: var(--green);
  border: 1px solid var(--green);
  color: #fff;
}
.btn-green:hover {
  background-color: transparent;
  color: var(--green);
}
.header-service {
  width: 100%;
  padding: 80px 15px;
  margin: 0 auto;
}
.service-icons {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 8px;
}

.service-icons:hover {
  background-color: var(--green);
}
.icons-1 {
  background-color: #e4b2d6;
}
.icons-2 {
  background-color: #dcc698;
}
.icons-3 {
  background-color: #a2d1e1;
}
.icons-4 {
  background-color: #dcd691;
}
.icons {
  margin: auto;
  color: white;
  font-size: 40px;
  font-weight: 500;
}
.service-body {
  text-align: center;
}
.service-body h3 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 8px;
}
.service-body span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  flex: 25%;
  padding: 0 15px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  height: 100%;
}
.custom .text {
  width: 100%;

  top: 0;
  text-align: center;
}
.custom .text h2 {
  color: var(--green);
  font-family: "Lora", Georgia, serif;
  font-style: italic;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 8px;
}
.custom .text p {
  font-size: 15px;
  font-weight: 400;
  color: gray;
  margin-bottom: 8px;
}
.grid-container .grid-item .absolute {
  bottom: 0;
  left: 0;
  padding: 4px 16px;
  background-color: var(--green);
}
.grid-container .grid-item .label {
  color: white;

  font-size: 18px;
  font-weight: 400;
}
/* comment */

.comment .comment-text {
  text-align: center;
  margin: 0 auto;
  width: 60%;
}

.comment .sub-comment {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: "Lora", Georgia, serif;
  font-style: italic;
  color: var(--green);
  font-weight: 400;
}
.comment h2 {
  position: relative;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 24px;
}
.comment .sub-comment-p {
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  color: gray;
  margin-bottom: 30px;
}

/* slider */

.slider-wrap {
  text-align: center;
  overflow: hidden;
  height: 500px;
}
.slider-container .slider-main {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.slider-container .slider-main .slider-item {
  position: absolute;
  width: 32%;
  top: 0;
  left: -32%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 15px;
}
.slider-container .slider-main .slider-item.active {
  left: 0;
  position: absolute;
}
.slider-container .slider-main .slider-item.active + .slider-item {
  left: 34%;
  position: absolute;
}
.slider-container
  .slider-main
  .slider-item.active
  + .slider-item
  + .slider-item {
  position: absolute;
  left: 68%;
}
.slider-container
  .slider-main
  .slider-item.active
  + .slider-item
  + .slider-item
  ~ .slider-item {
  left: 100%;
}

.slider-container .user-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 48px;
}

.slider-subtext {
  margin-bottom: 48px;
  font-weight: 300;
  letter-spacing: 0.5px;
  border-left: 1px solid #e6e6e6;
  padding-left: 24px;
}
.slider-subtext::after {
  position: absolute;
  top: 50%;
  left: -2px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
  width: 3px;
  height: 30px;
  background: #82ae46;
}
.slide-item {
  width: 30%;
  display: inline-block;
}
.slider-item .name {
  font-weight: 400;
  font-size: 18px;
}
.slider-item .position {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.btm-sliders {
  bottom: 3px;
  left: 0;
  width: 100%;
}
.btm-sliders .indicators {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.btm-sliders li.item {
  margin: 0 3px;
  color: gray;
}

.btm-sliders > li:hover {
  cursor: pointer;
  color: #c6daa9;
  border: 1px #82ae46;
}

.btm-sliders li.active-item {
  color: #82ae46;
}

/* footer */
.footer {
  padding: 50px 0;
  font-size: 14px;
  color: #000000;
}
.footer h2 {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
}
.footer .footer-p {
  margin-bottom: 24px;
}
.footer .footer-p-icons {
  margin-top: 60px;
  gap: 30px;
}
.footer .footer-p-icons li {
  color: #000000;
  font-size: 26px;
  text-align: center;
}
.footer-menu {
  padding-left: 60px;
}

.footer li > a {
  color: #000000;
}
.footer ul {
  padding: 0;
}
.footer li {
  padding: 9px 0;
}
.footer .footer-help {
  gap: 20px;
}
.footer .footer-question span > i {
  width: 40px;
  font-size: 18px;
}
.cookies-banner {
  background: #82ae46;
  color: #fff;
  padding: 6px;
  font-size: 13px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  height: 75px;

  line-height: 75px;
}

.cookies-banner button {
  text-decoration: none;
  background: #222;
  color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  padding: 4px 7px;
  margin: 2px 0;
  font-size: 13px;
  font-weight: 700;
  transition: background 0.07s, color 0.07s, border-color 0.07s;
}

.cookies-banner button:hover {
  background: #fff;
  color: #222;
}
.hidden {
  display: none;
}
