:root {
  --primary: #82ae46;
  --grey: #f6f5f7;
  --dark: #333;
  --white: #fff;
  --ghost: #ffffff33;
  --danger: #ff4e4e;

  --text-shadow: 0 0 10px rgba(0, 169, 62, 0.582);
  --box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--grey);
  font-family: "Poppins", "sans-serifs";
  overflow: hidden;
  height: 100vh;
}

h1 {
  letter-spacing: -1px;
  margin: 0 0 15px 0;
}

h1.title {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  margin: 0;
  text-shadow: var(--text-shadow);
}

p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
  text-shadow: var(--text-shadow);
}

/* p#email-error, p#password-error {
  color: var(--danger);
  font-size: 12px;
  text-shadow: none;
  margin:0 0 0 12px;
  align-self: flex-start;
} */

p#error,
p#register-error {
  display: none;
}

p#error.error,
p#register-error.error {
  display: block;
  color: var(--danger);
  font-size: 12px;
  text-shadow: none;
  margin: 0 0 0 12px;
  align-self: flex-start;
}

span {
  font-size: 14px;
  margin-top: 25px;
}

a {
  color: var(--dark);
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
  transition: 0.3s ease-in-out;
}

a:hover {
  color: var(--primary);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}

.content .checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content input {
  accent-color: var(--dark);
  width: 12px;
  height: 12px;
}

.content label {
  font-size: 14px;
  user-select: none;
  padding-left: 5px;
}

button {
  position: relative;
  border-radius: 20px;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--white);
  font-size: 15px;
  font-weight: 700;
  margin: 10px;
  padding: 12px 80px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: 0.3s ease-in-out;
}

button:hover {
  letter-spacing: 2px;
}

button:active {
  transform: scale(0.5);
}
button:focus {
  outline: none;
}

button.ghost {
  background-color: var(--ghost);
  border: 2px solid var(--white);
  color: var(--white);
}

button.ghost i {
  position: absolute;
  opacity: 1;
  transition: 0.3s ease-in-out;
}

button.ghost i.register {
  right: 60px;
}

button.ghost i.login {
  left: 60px;
}

button.ghost:hover i.register {
  right: 30px;
  opacity: 1;
}

button.ghost:hover i.login {
  left: 30px;
  opacity: 1;
}

form {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: var(--grey);
  border-radius: 10px;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.container {
  background-color: var(--white);
  border-radius: 25px;
  box-shadow: var(--box-shadow);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 500px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.5 ease-in-out;
}

.login-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .login-container {
  transform: translateX(100%);
}

.register-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .register-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translate(-100%);
}

.overlay {
  background-image: url(./Asset/background-login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: var(--white);
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(46, 94, 109 0.4) 40%,
    rgba(46, 94, 109 0)
  );
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 40px;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6 ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid var(--grey);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  transition: 0.3s ease-in-out;
}

.social-container a:hover {
  border: 1px solid var(--primary);
}
