/* Product Detail */
.product-detail {
    margin: 50px 0;

}
.product {
    display: flex;
}
.product-image {
    width: 48%;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
.product-image img {
    width: 90%;
    background-color: transparent;;
}

.product-info {
    width: 48%;
    margin: 0 50px;
}
.product-info h3 {
    font-size: 2rem;
    font-weight: normal;
}

.rating {
    display: flex;
    margin: 15px 0 30px;
}

.rating .text-left {
    color: var(--green);
    padding-right: 30px;
}

.rating .text-middle {
    padding-right: 30px;
}
.rating span.text {
    color: var(--grey);
}

.price h2 {
    font-weight: normal;
    font-size: 1.75rem;
    margin-bottom: 20px;
}

.description {
    color: var(--grey);
    margin-bottom: 20px;
    text-align: justify;
}

.size-control {
    width: 180px;
    height: 35px;
    text-align: center;
    text-transform: uppercase;
    outline: 0.5px solid var(--white);
    border: 0.5px solid var(--white);
    margin: 10px 0 15px;
    letter-spacing: 2px;
}

.quantity input {
    width: 35px;
    height: 35px;
    background: none;
    outline: 0.5px solid var(--white);
    border: 0.5px solid var(--white);
    margin-bottom: 15px;
}

.quantity input[type="text"] {
    width: 300px;
    text-align: center;
}

p.amount {
    font-size: 1rem;
    margin-bottom: 15px;
}

button.add-to-cart {
    font-size: 16px;
    width: 160px;
    height: 45px;
    border-radius: 30px;
    border: none;
    outline: none;
    background: var(--green);
    color: #fff;
    cursor: pointer;
}
/* End product detail */